<section>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1 class="text-primary-custom text-center fw-bolder mb-5">
      Iniciar Sesión
    </h1>
    <div class="form-floating mb-3">
      <input
        type="usuario"
        class="form-control"
        id="usuario"
        placeholder="Usuario"
        formControlName="usuario"
      />
      <label for="usuario" class="form-label">Usuario</label>
      @if (usuario.touched && usuario.hasError('required')) {
      <p class="text-danger" style="font-size: 14px">
        El usuario es obligatorio
      </p>
      }
    </div>
    <div class="form-floating mb-3">
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
        formControlName="password"
      />
      <label for="password" class="form-label">Contraseña</label>
      @if (password.touched && password.hasError('required')) {
      <p class="text-danger" style="font-size: 14px">
        La contraseña es obligatoria
      </p>
      }
    </div>
    <button
      type="submit"
      class="btn custom-color d-block w-100 rounded-3 py-2 fw-bold"
      [disabled]="status === 'loading'"
    >
      @if(status === 'loading') {
      <span
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
      ></span>
      }
      {{ status === "loading" ? "Cargando..." : "Iniciar sesión" }}
    </button>
  </form>
  <div class="soporte">
    <h3 class="text-center">¿Tienes problemas al ingresar?</h3>
    <p class="text-center">
      Si tienes problemas para ingresar, puedes comunicarte con el soporte
      técnico para que te ayuden a solucionar el problema.
    </p>
    <ul class="d-flex justify-content-between p-0">
      <li class="d-flex gap-3 align-items-center">
        <span class="rounded-circle custom-color p-2">
          <i class="bi bi-telephone-fill p-1"></i>
        </span>
        <span> +54 9 11 1234-5678 </span>
      </li>
      <li class="d-flex gap-3 align-items-center">
        <span class="rounded-circle custom-color p-2">
          <i class="bi bi-envelope-fill p-1"></i>
        </span>
        <span>{{ "soporte@helpdesk.com" }}</span>
      </li>
    </ul>
  </div>
</section>
