section {
  width: 100%;
  background-color: #f7fafb;
  display: grid;
  place-items: center;
  align-content: center;
  overflow-x: hidden;
}

form,
.soporte {
  width: 100%;
  max-width: 500px;
  padding: 20px;
}

