:host {
    --color-primario: #102147;
    --color-secundario: #44d2f2;
    --color-terciario: #818181;
}

.color-primario {
    color : var(--color-primario);
}

.color-secundario {
    color : var(--color-secundario);
}

.color-terciario {
    color : var(--color-terciario);
}

.bg-primario {
    background-color : var(--color-primario);
}

.bg-secundario {
    background-color : var(--color-secundario);
}

.btn-primario {
    background-color : var(--color-primario);
    color : white;
    transition : background-color 0.3s ease;
}

.btn-secundario {
    background-color : var(--color-secundario);
    color : white;
    transition : 0.3s ease;
}

.btn-primario:hover {
    background-color : var(--color-secundario);
}

.btn-secundario:hover {
    background-color : #fff;
    color : var(--color-primario);
}

.borde-secundario {
    border-left: 5px solid var(--color-secundario); 
  }

.vh-80 {
    height: 80vh;
}