<span class="text-secondary-custom fw-bold fs-5">¡Bienvenido!</span>
<h1 class="text-primary-custom fw-bolder fs-1">{{ usuario.usuario }}.</h1>
<p>
  Este es el panel de control de la aplicación. Puede ver las
  <strong>estadísticas y administrar los datos</strong>
  de la aplicación desde aquí.
</p>
<p>
  Tienes acceso a distintas opciones en el menú de la izquierda. Puedes navegar
  a través de las opciones del menú para acceder a las distintas secciones de la
  aplicación.
</p>
<p>
  Cuando hayas terminado de usar la aplicación,
  <strong class="text-secondary-custom">recuerda cerrar la sesión</strong> para
  proteger tu información. Puedes cerrar la sesión haciendo clic en el botón de
  cerrar sesión <strong>en la esquina superior derecha de la pantalla</strong>.
</p>
<p>
  Si tienes alguna pregunta o problema, no dudes en ponerte en contacto con el
  <a href="mailto:soporte.tech.com" class="text-primary">soporte técnico</a>.
</p>

<p
  class="fw-bold position-absolute bottom-0 end-0 mx-2"
  style="user-select: none"
>
  Powered by <strong class="text-secondary-custom">Piedra Inmobiliaria</strong>
</p>
