<section>
  <h1 class="text-primary-custom fw-bold text-center mb-5">
    Usuarios registrados
  </h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Usuario</th>
        <th scope="col">Email</th>
        <th scope="col">Activo</th>
        <th scope="col">Perfil</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (usuario of usuarios; track $index) {
      <tr>
        <td scope="row">{{ usuario.usuario }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.activo ? "🟢" : "🔴" }}</td>
        <td>{{ usuario.perfil | uppercase }}</td>
        <td>
          <div class="d-flex gap-3">
            <button
              class="btn btn-outline-warning"
              (click)="editarUsuario(usuario._id!)"
            >
              <i class="bi bi-pencil-fill"></i>
            </button>
            <button
              class="btn btn-outline-danger"
              (click)="eliminarUsuario(usuario._id!)"
            >
              <i class="bi bi-trash-fill"></i>
            </button>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</section>
