<div class="container-fluid">

  <div class="container row mb-3">

    <div class="col">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="MostrarLocales()">Todos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
            aria-expanded="false">Filtrar</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="MostrarLocalesHabilitados()">Habilitados</a></li>
            <li><a class="dropdown-item" (click)="MostrarLocalesInHabilitados()">En Reparación</a></li>

          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.facebook.com/profile.php?id=61562051432528" target="_blank">Facebook
            page</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-3">
      <div class="container p-3">
        <h2>Agregar Local</h2>
        <a><button type="button" (click)="crearLocal('')" class="btn btn-outline-primary">
            Nuevo
          </button>
        </a>
      </div>
    </div>
  </div>
  <div class="row w-100">
    <h1>Locales de Piedra Inmobiliaria</h1>

    <!-- tarjeta-local.component.html -->
    <div class="card m-1 position-relative" style="max-width: 400px;"
      *ngFor="let locales of datoslocales; let i = index">
      <div class="row g-0">
        <div class="col-md-4">
          <img [src]="locales.pathimagen" class="img-fluid rounded-start full-img" alt="Descripción de la imagen">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ locales.nombre }}</h5>
            <p class="card-text text-wrap"><strong>Dirección:</strong> {{ locales.direccion }}</p>
            <span><strong>Superficie:</strong> {{ locales.superficie }} m²</span><br>
            <span><strong>Habilitado:</strong> {{ locales.habilitado ? "Habilitado" : "En reparación" }}</span><br>
            <span><strong>Costo Mes:</strong> {{ locales.customers }}</span><br>
            <span><strong>Alquilado:</strong> {{ locales.alquilado ? "SI" : "NO" }}</span>

            <!-- Mostrar descripción condicionalmente -->
            <div *ngIf="locales.descripcion">
              <p class="card-text text-wrap">
                {{ mostrarTextoCompleto[i] ? locales.descripcion : locales.descripcion.slice(0, 15) + '...' }}
              </p>
              <button *ngIf="locales.descripcion.length > 15" class="btn btn-link" (click)="toggleTextoCompleto(i)">
                {{ mostrarTextoCompleto[i] ? 'Mostrar menos' : 'Mostrar más' }}
              </button>
            </div>

            <!-- Iconos flotantes -->
            <div class="position-absolute bottom-0 end-0 p-2">
              <button
              class="btn btn-outline-warning m-1"
              (click)="editarLocal(locales)"
            >
              <i class="bi bi-pencil-fill"></i>
            </button>
            <button
              class="btn btn-outline-danger m-1"
              (click)="EliminarLocal(locales._id)"
            >
              <i class="bi bi-trash-fill"></i>
            </button>
              <div class="btn btn-outline-info" (click)="publicarEnFaceebook(locales._id)">
                <svg *ngIf="!locales.alquilado && locales.habilitado" class="text-info" width="16" height="16"
                  fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12.726 0H10.5C8.044 0 6.7 1.25 6.7 3.3V5.3H4.5a.5.5 0 0 0-.5.5v3.1a.5.5 0 0 0 .5.5H6.7v8.3a.5.5 0 0 0 .5.5h3.2a.5.5 0 0 0 .5-.5V9.4h2.4a.5.5 0 0 0 .5-.5V5.8a.5.5 0 0 0-.5-.5H10.9V3.7c0-.6.1-.9.9-.9h1.9a.5.5 0 0 0 .5-.5V.5a.5.5 0 0 0-.5-.5z" />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>