<h2 class=" text-center mb-2 color-secundario fs-2 fw-bold">Alta de Locales</h2>
<form #form class="border p-4 rounded bg-body-tertiary">
    <div class="form-floating mb-2">
        <input type="text"  class="form-control color-secundario" id="nombre" name="nombre"  [(ngModel)]="datoslocales.nombre" required/>
        <label for="nombre" class="form-label">Nombre: </label>
    </div>
    <div class="form-floating mb-2">
        <input type="text"  class="form-control" id="direccion" name="direccion"  [(ngModel)]="datoslocales.direccion" required/>
        <label for="direccion" class="form-label">Direccion: </label>
    </div>
    <div class="form-floating mb-2">
        <input type="text"  class="form-control" id="descripcion" name="descripcion"  [(ngModel)]="datoslocales.descripcion" required/>
        <label for="descripcion" class="form-label">Descripcion: </label>
    </div>
 
    <div class="form-floating mb-2">
        <input type="number"  class="form-control" id="superficie" name="superficie"  [(ngModel)]="datoslocales.superficie" required/>
        <label for="superficie" class="form-label">Superficie Local: </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate" [(ngModel)]="datoslocales.habilitado" name="habilitado">
        <label class="form-check-label" for="flexCheckIndeterminate">habilitado?</label>
    </div>
    <div class="form-floating mb-2">
        <input type="number" class="form-control" id="clientes" name="clientes" [(ngModel)]="datoslocales.customers" required />
        <label for="clientes"class="form-label">costo mes: </label>
    </div>
    <div class="form-floating mb-2">
        <input type="text" class="form-control" id="imagen" name="imagen"  [(ngModel)]="datoslocales.pathimagen"  required />
        <label for="imagendatoslocales" class="form-label">Imagen del Local(url): </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate" [(ngModel)]="datoslocales.alquilado" name="alquilado">
        <label class="form-check-label" for="flexCheckIndeterminate">alquilado?</label>
    </div>
    <button type="submit" class="btn btn-perzonalizado w-100 py-3" (click)="AltaLocal()">Agregar Local</button>
</form>