<h2>Alta de Novedades</h2>
<form #form="ngForm" class="border p-4 rounded bg-body-tertiary"><!---->
    <div class="form-floating mb-2">
        <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="novedad.titulo" required />
        <label for="titulo" class="form-label">Título de la Novedad:</label>
    </div>
    <div class="form-floating mb-2">
        <textarea class="form-control" id="texto" name="texto" [(ngModel)]="novedad.Texto" required></textarea>
        <label for="texto" class="form-label">Texto de la Novedad:</label>
    </div>
    <div class="form-floating mb-2">
        <input type="file" class="form-control" id="imagen" accept="image/*" (change)="onSelectNewFile($event)" />
        <label for="imagen" class="form-label">Imagen de la Novedad:</label>
        <img *ngIf="files[0] != null" [src]="files[0].base64" class="img-thumbnail" style="max-width: 300px" />
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="estado" name="estado" [(ngModel)]="novedad.estado">
        <label class="form-check-label" for="estado">
          Publicar
        </label>
      </div>
    <button type="submit" class="btn btn-primary mx-auto" (click)="AltaNovedad()">Agregar Novedad</button>
</form>
