<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center">Decora tu Cuarto</h2>
            <form #form >
              <div class="mb-3">
                <input type="file" name="imagen" id="imagen" class="form-control" (change)="onFileChange($event)" accept="image/*" />
              </div>
              <div class="mb-3">
                <label for="">Tema</label>
                <select class="form-select" id="theme" name="theme" [(ngModel)]="theme">
                  <option value="Modern">Moderno</option>
                  <option value="Rustic">Rustico</option>
                  <option value="Gaming">Gamer</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="">Room</label>
                <select class="form-select" id="room" theme="room" [(ngModel)]="room">
                    <option value="Living Room">Sala de Estar</option>
                    <option value="Bedroom">Dormitorio</option>
                    <option value="Kitchen">Cocina</option>
                    <option value="Office">Officina</option>
                </select>
              </div>
              <div class="d-grid">
                <button class="btn btn-primary" (click)="onSubmit()">Decorar</button>
              </div>
            </form>
            <!-- Contenedor Flex para las imágenes -->
            <div class="d-flex justify-content-around mt-3 row">
              @if (imageUrl) {
                  <div class="text-center col-6">
                    <h3>Imagen Subida</h3>
                    <img [src]="imageUrl" alt="Uploaded Image" class="img-fluid" />
                  </div>
              }
              @if (imageUrl) {
                  <div class="text-center col-6">
                    <h3>Imagen Generada</h3>
                    <img [src]="restoredImage" alt="Restored Image" class="img-fluid" />
                  </div>
              }
              @if (loading){
                <div class="spinner-border col-6" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                }@else if (message) {
                    <p class="mt-3">{{message}}</p>
                }
            </div>
            
        </div>
      </div>
    </div>
  </div>